In [62]:
import numpy as np
import xarray as xr
import pandas as pd
import matplotlib.pyplot as plt

## Create Multiindex

In [144]:
df = pd.DataFrame(np.random.rand(100,3), columns=['A', 'B', 'C'])
alphabet = 'abcdefghij'
tebahpla = 'ZYXWVUTSPRQ'
x = [tebahpla[j % 10] for j in range(100)]
y = [alphabet[(i // 10)] for i in range(100)]

tuples = list(zip(x,y))
index = pd.MultiIndex.from_tuples(tuples, names=['x','y'])
df.index = index

In [145]:
# Return first component of multiindex
df.index.get_level_values(level=0)

Index(['Z', 'Y', 'X', 'W', 'V', 'U', 'T', 'S', 'P', 'R', 'Z', 'Y', 'X', 'W',
       'V', 'U', 'T', 'S', 'P', 'R', 'Z', 'Y', 'X', 'W', 'V', 'U', 'T', 'S',
       'P', 'R', 'Z', 'Y', 'X', 'W', 'V', 'U', 'T', 'S', 'P', 'R', 'Z', 'Y',
       'X', 'W', 'V', 'U', 'T', 'S', 'P', 'R', 'Z', 'Y', 'X', 'W', 'V', 'U',
       'T', 'S', 'P', 'R', 'Z', 'Y', 'X', 'W', 'V', 'U', 'T', 'S', 'P', 'R',
       'Z', 'Y', 'X', 'W', 'V', 'U', 'T', 'S', 'P', 'R', 'Z', 'Y', 'X', 'W',
       'V', 'U', 'T', 'S', 'P', 'R', 'Z', 'Y', 'X', 'W', 'V', 'U', 'T', 'S',
       'P', 'R'],
      dtype='object', name='x')

In [137]:
# Also useful is the MultiIndex.from_product method
x1 = np.arange(0,10)
x2 = np.linspace(0,1,10, endpoint=False)

index = pd.MultiIndex.from_product([x1, x2])

df2 = pd.DataFrame(np.random.rand(100,3), index=index, columns=list('ABC'))
df2

              A         B         C
0 0.0  0.223560  0.620547  0.909923
  0.1  0.264928  0.953914  0.162859
  0.2  0.189071  0.637873  0.570364
  0.3  0.412094  0.014358  0.030215
  0.4  0.379585  0.098634  0.155784
...         ...       ...       ...
9 0.5  0.333311  0.158400  0.956218
  0.6  0.453157  0.138977  0.932749
  0.7  0.207343  0.511180  0.870207
  0.8  0.459926  0.892430  0.652532
  0.9  0.899549  0.880612  0.406081

[100 rows x 3 columns]

In [113]:
# Example slicing of element at x=1, y=2
df.loc[('X','a')]
df.iloc[2]
df.loc[('X','a')]
df.loc['X', 'a']

A    0.822713
B    0.730627
C    0.986761
Name: (X, a), dtype: float64

In [108]:
# Slicing a specific coordinate
df.loc['X']

          A         B         C
y
a  0.822713  0.730627  0.986761
b  0.801894  0.840201  0.783344
c  0.218237  0.666486  0.504683
d  0.384289  0.338332  0.334245
e  0.927672  0.889968  0.930561
f  0.617503  0.492251  0.975166
g  0.439760  0.664369  0.231788
h  0.008220  0.871794  0.368231
i  0.207269  0.106226  0.302439
j  0.980713  0.941251  0.373920

In [131]:
# Slicing two coordinates
l1 = list(tebahpla[3:8])
l2 = list(alphabet[0:3])
prod = pd.MultiIndex.from_product([l1,l2])
print(prod)
df.loc[prod]

MultiIndex([('W', 'a'),
            ('W', 'b'),
            ('W', 'c'),
            ('V', 'a'),
            ('V', 'b'),
            ('V', 'c'),
            ('U', 'a'),
            ('U', 'b'),
            ('U', 'c'),
            ('T', 'a'),
            ('T', 'b'),
            ('T', 'c'),
            ('S', 'a'),
            ('S', 'b'),
            ('S', 'c')],
           )

            A         B         C
W a  0.502636  0.257459  0.060853
  b  0.945948  0.675132  0.455860
  c  0.873288  0.795996  0.731641
V a  0.990375  0.802021  0.029805
  b  0.578957  0.950898  0.376492
  c  0.202848  0.294515  0.673159
U a  0.471347  0.760858  0.953906
  b  0.904675  0.388826  0.198335
  c  0.577594  0.988403  0.544550
T a  0.245937  0.469621  0.650347
  b  0.200582  0.174492  0.393557
  c  0.247294  0.908823  0.185738
S a  0.628160  0.310288  0.307476
  b  0.272538  0.607943  0.750084
  c  0.496684  0.653225  0.029713

In [ ]:
xr.