Here we explore how to use qcut to groupby a quantitative variable.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [28]:
df = pd.read_csv('/Users/andrewbrettin/Tomfoolery/data/battery_park_monthly_TG.csv')
df.head()

,Date,Time (GMT),Highest,MHHW (ft),MHW (ft),MSL (ft),MTL (ft),MLW (ft),MLLW (ft),Lowest (ft),Inf
0,1856/01/01,00:00,NaN,NaN,NaN,1.453,NaN,NaN,NaN,NaN,0
1,1856/02/01,00:00,NaN,NaN,NaN,1.453,NaN,NaN,NaN,NaN,0
2,1856/03/01,00:00,NaN,NaN,NaN,1.273,NaN,NaN,NaN,NaN,0
3,1856/04/01,00:00,NaN,NaN,NaN,1.424,NaN,NaN,NaN,NaN,0
4,1856/05/01,00:00,NaN,NaN,NaN,1.601,NaN,NaN,NaN,NaN,0

In [33]:
# Break up MSL into bins with 4 quantiles
qcut = pd.qcut(df['MSL (ft)'], q=4)

# Create categorical variable based on quantile intervals
df['MSL quartiles'] = qcut

In [34]:
# Apply groupby operations
gb = df.groupby('MSL quartiles')
gb['MHW (ft)'].mean()

MSL quartiles
(0.632, 1.732]    3.711171
(1.732, 2.133]    4.136481
(2.133, 2.497]    4.509752
(2.497, 3.514]    4.972227
Name: MHW (ft), dtype: float64