In [61]:
import numpy as np
import xarray as xr
import pandas as pd
import matplotlib.pyplot as plt
rng = np.random.default_rng(0)

In [62]:
data = rng.random((60,3))
multiindex = pd.MultiIndex.from_product(
    [np.arange(10), list('ABCDEF')],
    names=['xt', 'yt']
)
df = pd.DataFrame(
    data, 
    index=multiindex,
    columns=['red', 'green', 'blue']
)
df.head()

            red     green      blue
xt yt
0  A   0.636962  0.269787  0.040974
   B   0.016528  0.813270  0.912756
   C   0.606636  0.729497  0.543625
   D   0.935072  0.815854  0.002739
   E   0.857404  0.033586  0.729655

In [63]:
df = df[(df['red'] > 0.3) & (df['green'] > 0.3) & (df['blue'] > 0.3)]

In [65]:
df.head()

            red     green      blue
xt yt
0  C   0.606636  0.729497  0.543625
1  C   0.615385  0.383678  0.997210
   D   0.980835  0.685542  0.650459
   F   0.721488  0.525354  0.310242
2  A   0.485835  0.889488  0.934044

In [66]:
# Expanding df with nans using multiindex

In [67]:
df.reindex(multiindex)

            red     green      blue
xt yt
0  A        NaN       NaN       NaN
   B        NaN       NaN       NaN
   C   0.606636  0.729497  0.543625
   D        NaN       NaN       NaN
   E        NaN       NaN       NaN
   F        NaN       NaN       NaN
1  A        NaN       NaN       NaN
   B        NaN       NaN       NaN
   C   0.615385  0.383678  0.997210
   D   0.980835  0.685542  0.650459
   E        NaN       NaN       NaN
   F   0.721488  0.525354  0.310242
2  A   0.485835  0.889488  0.934044
   B   0.357795  0.571530  0.321869
   C   0.594300  0.337911  0.391619
   D        NaN       NaN       NaN
   E        NaN       NaN       NaN
   F        NaN       NaN       NaN
3  A        NaN       NaN       NaN
   B        NaN       NaN       NaN
   C        NaN       NaN       NaN
   D        NaN       NaN       NaN
   E        NaN       NaN       NaN
   F        NaN       NaN       NaN
4  A   0.440377  0.954590  0.499896
   B   0.425229  0.620213  0.995097
   C   0.948944  0.460045  0.757729
   D   0.497423  0.529312  0.785786
   E   0.414656  0.734484  0.711143
   F        NaN       NaN       NaN
5  A        NaN       NaN       NaN
   B   0.863640  0.981195  0.957210
   C        NaN       NaN       NaN
   D        NaN       NaN       NaN
   E        NaN       NaN       NaN
   F   0.538934  0.442753  0.931017
6  A        NaN       NaN       NaN
   B        NaN       NaN       NaN
   C   0.757951  0.512759  0.929104
   D        NaN       NaN       NaN
   E   0.344310  0.430299  0.966062
   F        NaN       NaN       NaN
7  A        NaN       NaN       NaN
   B        NaN       NaN       NaN
   C        NaN       NaN       NaN
   D   0.412896  0.818121  0.626506
   E   0.959078  0.369404  0.552612
   F        NaN       NaN       NaN
8  A        NaN       NaN       NaN
   B   0.822706  0.415384  0.829804
   C        NaN       NaN       NaN
   D        NaN       NaN       NaN
   E        NaN       NaN       NaN
   F        NaN       NaN       NaN
9  A   0.488850  0.976462  0.775691
   B        NaN       NaN       NaN
   C   0.881307  0.510707  0.344296
   D        NaN       NaN       NaN
   E   0.880098  0.812335  0.667889
   F   0.958414  0.925715  0.748249